In [ ]:
import pandas as pd

import matplotlib.pyplot as plt

import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score

In [92]:
data = pd.read_csv('../salaries_mock_up.csv')

data.tail()

,location,title,company,salary,summary
546,"Portland, OR",Associate Director for Clinical Research,Oregon Health & Science University,275000.0,"Work collaboratively with Director, Knight Cli..."
547,"Portland, OR",Postdoctoral Researcher,Oregon Health & Science University,45000.0,Oregon Health & Science University values a di...
548,"Portland, OR",Research/Evaluation Analyst 1 (Medical Monitor...,"Multnomah County, OR",48776.0,PDES is a joint Multnomah County Health Depart...
549,"Boulder, CO","Head, Jerry Crail Johnson Earth Sciences & Map...",University of Colorado,65000.0,"University group health care plans, group life..."
550,"Phoenix, AZ","Clinical/Research Nurse, OB/GYN (Phoenix, AZ)",The University of Arizona,70000.0,This team member will assist in the developmen...

In [46]:
import re

In [35]:
data_process = data.copy()

In [115]:
data_jobs = []
for ele in data_process['title']:
    if 'Data' in ele :
        data_jobs.append(ele)
len(data_jobs)

212

In [187]:
type(data_process.iloc[data_process.index[data_process['title'] == 'Postdoctoral Researcher'].tolist()])

pandas.core.frame.DataFrame

In [188]:
def get_job(jobtype):
#     input a str for 
    job_list = pd.DataFrame(columns= ['location', 'title', 'company', 'salary', 'summary'])
    for ele in data_process['title']:
        if 'Data' in ele :
            print(ele)
            this_line = data_process.iloc[data_process.index[data_process['title'] == ele].tolist()]
            job_list.append(this_line, ignore_index=True)
    return job_list

In [189]:
get_job('Dev')

Data Scientist
Data Scientist
Data Scientist
Data Scientist
Data Analyst/Modeler
Junior Data Scientist
Data Scientist
Sr Data Scientist
Data Scientist (People Analytics/HR)
Data Scientist for Data- Driven HealthTech Company
Research Scientist for Data Integrity, World Trade Center He...
Data Analyst
VP Data Science
Data Scientist Needed for Disruptive Tech Firm
Bioinformatics Scientist/ Data Scientist
Data Scientist - Modeling
Director of Data Science, Analytics
Digital Marketing (Data Scientist)
Principal Data Scientist
Senior Data Scientist
Bike Share Data Scientist
Senior Data Scientist ( FinTech / Fraud / Python / R / Machi...
Data Team Leader (VP, Director)
Senior Data Scientist
Full-Stack Data Scientist
Lead Data Scientist
Data Scientist Healthcare
Natural Language Processing (NLP) Data Scientist
Data Engineer
Data Architect/ Data Engineer
Senior Data Scientist ( FinTech / Python / R / ML / Big Data...
Data Analyst
Policy Data Analyst
Data Manager â€“ Researcher, Bureau of Children, Youth & Famil...
Senior Data Scientist for Multi-Billion, Top-Ranked Global C...
Senior Data Scientist
Senior Data Scientist - Bio-tech
Senior Data Scientist for Fortune 500 Company
Data Analyst, World Trade Center Health Registry
Chief Data Scientist - Consulting
Data Scientist - Financial Services
Senior Data Scientist
VP Data Scientist, Data Science Manager, Data Scientist
Vice President of Data Scientist - Leading Consulting
Director System Data Analysis (Op Planning)
Data Scientist at Innovative Financial Services Company
Data Scientist - Predictive Modeler - P&C/Health/Life-7644
Junior Data Scientist (Python, Spark, SciKitLearn)
Lead Data Scientist
Principal Data Lead (Machine Learning)
Senior Data Engineer with Machine Learning
Principal Data Scientist
Data Scientist, Customer Analytics
Data Acquisition Programmer
Senior Data Scientist
Data Scientist (Java or Python)
Senior Data Scientist
Director of Data Science, Analytics
Digital Marketing (Data Scientist)
Associate Data Scientist
Data Scientist (Python)
Data Scientist (Machine Learning)
Lead Data Scientist
Sr Data Scientist
Research Data Analyst 2
Data Scientist (Natural Language Processing)
Senior Data Scientist (Python)
Machine Learning Data Scientist FinTech
Lead Data Scientist - Engagement & Growth
Lead Data Scientist (Life Sciences Opportunity)
Director of Data Science
Data Scientist
Data Scientist
Principal Data Scientist, Sequencing
Data Scientist II, Sequencing
Data Scientist
Data Scientist - Growth Team (Healthcare Startup)
Mid-Level Machine Learning Data Scientist
Mid-Level Data Scientist
Senior Data Scientist - NLP & Linguistics
Data Scientist (Finance Company)
Senior AI Data Scientist
Principal Data Scientist
Mid-Level NLP Data Scientist
Senior Data Scientist
Data Engineer
Senior Data Engineer / Senior Data Scientist
Data Entry/research analyst
Data Scientist (Consumer Loans)
Jr. Data Scientist
Sr. Data Scientist Needed for Top LA Start-Up, Huge Opportun...
Data Scientist (Math background)
Data Scientist
Data Scientist
Data Scientist
Senior Data Scientist
Senior Data Scientist
Data & Research Analyst
Machine Learning Data Engineer
Data Scientist (TS/SCI Required)
Big Data/IoT Software Engineer
Data Scientist:Veteran+Military Only
Machine Learning Data Engineer (Manager)
Data Scientist
Technical Data Analyst
Data Engineer
Data Scientist/Ontologist
Data Scientist
Data Scientist
Data Scientist
Data Scientist Healthcare
Data Scientist for Marketing Technology
Data Scientist - Analytical Experiments, Analytical Tools
Principal Data Scientist
Digital Marketing (Data Scientist)
Senior Statistician/Data Scientist-PHARMA
Director of Data Science
Quantitative Analyst (Big Data Focus) at $10+ Billion Hedge...
Data Science Manager Healthcare
Data Scientist - Supply Chain
Data Scientist - Healthcare
Senior Machine Learning Data Scientist
Data Scientist
Senior Principal Data Scientist
Data Scientist
Data Engineer/Scientist
Senior Data Scientist
Digital Marketing (Data Scientist)
BI Architect / Data Architect / Data Scientist - blend | Con...
User Interface and Data Manager
Digital Marketing (Data Scientist)
Data Scientist
Database Analyst
Director, Data Analysis & Compliance
Data Scientist
Data Scientist
Sr Data Scientist - NLP & CODING REQUIRED
Data Engineer
Data Scientist
Data Scientist
Data Scientist -Fitness/Wellness Firm
Data Scientist (Python, Spark, AWS)
Data Scientist
Lead Data Scientist (Tableau, RShiny, D3)
Data Scientist (Machine Learning)
Lead Data Scientist
Lead Data Scientist (NLP)
Lead Data Scientist
Principal Software Engineer, Data Science
Principle Scientist, Data Science, System integration
Senior Machine Learning Data Scientist
Senior Data Scientist
Big Data Engineer
Computer Vision Data Scientist
Principal Data Scientist
Data Entry & Analysis Specialist
Senior Backend Data Engineer
Data Scientist
SVP Big Data and Analytics
Senior Software Engineer (Data Engineer, IoT)
Technical Data Analyst
Data Visualization Research Specialist
Quantitative Data Scientist
Senior Data Scientist
Data Scientist - Fintech startup, R, Python, big data
Sr. Data Architect
SQL*Server Database Developer
Cognitive / AI Data Scientist
Data Scientist
Program Manager - Data Analysis/Insider Threat
Data Scientist/Predictive Modeler -- Life/Health-7658
Statistical Data Analyst - Pathology & Immunology
Director, Data Analysis
Clinical Research Data Analyst - Pediatrics Computing Facili...
Sr Data Scientist/Solution Architect
Sr Data Scientist (Hadoop) - Duluth, Georgia
Digital Marketing (Data Scientist)
Data Scientist - Machine Learning, NLP
Director Data Science
Lead Data Scientist
Data Architect
Digital Marketing (Data Scientist)
Data Scientist
Data Scientist
Senior Data Scientist
Data Scientist (Media Company)
Senior Data Scientist - Modeling
Senior Data Scientist - NLP and Machine Learning
Senior Data Scientist
Lead Data Scientist (Data Visualization)
Lead Data Scientist
Senior Data Scientist
Senior Data Scientist
Junior Data Scientist
Senior Data Scientist
Senior Data Scientist
Data Scientist Healthcare
Data Engineer
Data Scientist (Python, Spark, AWS)
Lead Data Scientist
Principal Data Scientist
Senior Data Science Manager
Lead Data Scientist - Engagement & Growth
Senior Data Scientist
Big Data Engineer
Data Entry/research analyst
Data Scientist
Data Analytics Manager / Machine Learning Specialist
Director of Data Science
Senior Statistician/Data Scientist-PHARMA
Senior Machine Learning Data Scientist
Director of Data Science

Empty DataFrame
Columns: [location, title, company, salary, summary]
Index: []

## REGRESSION LOGISTIQUE

In [33]:
data_dummied = data.copy()
data_dummied = pd.get_dummies(data_dummied['title'], drop_first=True)

In [34]:
data_dummied.head()

,"2017-04-01 Software Engineer Earning $196,000",AIR QUALITY PLANNER 2-3,Ad Operations Manager,Afghan Ministry of Defense (MoD) Research Analyst/Advisor,Algorithm Software Sequencing Scientist,"Analyst/Senior Analyst, Advanced Analytics",Analytic Methodologist,Analytics Manager,Analytics Manager (Machine Learning),Angular Software Developer,...,User Interface and Data Manager,VP Data Science,"VP Data Scientist, Data Science Manager, Data Scientist",VP of Advanced Analytics,Variant Scientist (Remote),Vice President of Data Scientist - Leading Consulting,Water Quality Analyst,Water Resources Analyst,Web Security Research Analyst,scientist
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
X = 
y = data_dummied["salary"]

0    130000.0
1     90000.0
2    100000.0
3    130000.0
4     75000.0
Name: salary, dtype: float64